.block {
    border-radius: 4px;
    border: 1px solid #aaa;
    background-color: #f9f5bb;
    width: 100%;
    padding: 5px;
}

.blocktitle {
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
}

.topText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    font-size: 24px;
}

